// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Roboto+Slab:700,300';
$font-family--primary    : 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Layout
$svg-width-s     		 : 140px;
$svg-width-m			 : 170px;

//Svg links
$bg-tile 				 :url("../OptSvgs/background.svg");
// Breakpoints
$brkpoint-md    		 : "(min-width: 425px)";

// Descriptive Base Colors

$white 					 : #fbfeff;
$gray	 				 : #8b8b8b;
$black					 : #111;

$beige  		 		 : #fcfbd4;
$brown  	       		 : #ba8058;
$jazzberry-tan  		 : #f4c6a6;
$turquoise       		 : #39add1;